/*add custom styles*/

.page-header {
  text-align: center;
}

.controlNum {
  text-align: center;
}

.appliance {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #05E9FF;*/
  /*border-radius: 30%;*/
  /*float: right;*/
  /*border: 1px solid red;*/
}

.appliance img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*border: 1px solid blue;*/
  height: 150px;
  width: 150px;
}