/*add custom styles*/

.smartControl {
  text-align: center;
  font-weight: normal;
}

.controlNum {
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
  font-family: sans-serif;
}

.currCons {
  font-size: 19px;
}

.currCons span {
  color: rgb(45, 83, 172);
}

.appliance {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.appliance img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.tile {
  height: 100px;
  background-color: #00a5d9 !important;
  border-color: white !important;
}

.box {
  border-color: white;
}

.text {
  color: black;
}
